{% extends 'layout.html' %}

{% block title %}Download{% endblock %}

{% block content %}
<div class="jumbotron">
  <h1>{{ item.filename }}</h1>
  <p class="lead">Click button to download.</p>
  <p><a id="downloadButton" class="btn btn-lg btn-success" href="javascript:void(0);" role="button">Download</a></p>
</div>
{% endblock %}

{% block script %}
<script>
$(function () {
  $('#downloadButton').on('click', function () {
    $.get('{{ item.downloadUrl }}')
    .success(function (data) {
      window.location.href = data.downloadUrl;
    })
    .error(function () {
      alert('Error!');
    })
  });
});
</script>
{% endblock %}
