{% extends 'layout.html' %}

{% block title %}Download{% endblock %}

{% block content %}
<div class="jumbotron">
  <h1>{{ item.filename }}</h1>
  <p class="lead">{{ item.comment }}</p>
  <p><a id="downloadButton" class="btn btn-lg btn-success" href="javascript:void(0);" role="button">Download</a></p>
  <p><small>{{ i18n.__('ExpiredAt') }} {{ item.expiredDate }}</small></p>
</div>
{% endblock %}

{% block script %}
<script>
$(function () {
  $('#downloadButton').on('click', function () {
    $.get('{{ item.downloadUrl }}')
    .done(function (data) {
      window.location.href = data.downloadUrl;
    })
    .fail(function (jqXHR, textStatus, errorThrown) {
      var status = jqXHR.status;
      var message = 'Error!';

      switch (status) {
      case 404:
        message += ' Not Found.';
        break;

      case 403:
        message += ' File has expired.';
        break;

      case 410:
        message += ' File has removed.';
        break;
      }

      alert(message);
    })
  });
});
</script>
{% endblock %}
